<div class="row justify-content-center">
  <div class="col-lg-6 col-12">
    <div class="col mr-3 shadow p-3 mb-2 bg-body">
      <div class="input-group mb-3">
        <span class="input-group-text">Filter</span>
        <input type="text" class="form-control rounded" placeholder="Type to search" aria-label="Filter by description"
          [(ngModel)]="searchText" (keyup)="onFilter()">
      </div>

      <div class="list-group mt-2">
        <div *ngFor="let receivingType of receivingTypes">
          <div class="d-flex flex-row-reverse bd-highlight mt-1">
            <button type="button" class="btn btn-grid btn-danger ml-1" (click)="deleteBillType(billType)">
              <fa-icon [icon]="faDelete"></fa-icon>
            </button>

            <button type="button" class="list-group-item list-group-item-action rounded"
              (click)="onSelect(billType)">{{billType.description}}</button>
          </div>
        </div>
        <div *ngIf="loading" class="spinner-border text-primary ml-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <button type="button" class="btn btn-success mt-3" (click)="openModal(billTypeAdd)">Add bill type</button>

    </div>
    <div class="col">
      <div *ngIf="selectedReceivingType" class="row shadow p-3 mb-2 bg-body rounded">
        <app-bill-type-detail [billType]="selectedBillType"
          (saveBillTypeEvent)="closeChild($event)"></app-bill-type-detail>
      </div>
    </div>
  </div>
</div>

<ng-template #billTypeAdd>
  <app-bill-type-register (addBillTypeEvent)="closeModal($event)"></app-bill-type-register>
</ng-template>