<div class="row justify-content-center">
    <div class="col-lg-6 col-12">
        <form [formGroup]='editUserForm' (ngSubmit)="update()" autocomplete="off">
            <h2 class="text-center text-primary">Edit user</h2>
            <hr>
            <div class="form-group">
                <label for="bill-type">Username</label>
                <app-text-input [formControl]='editUserForm.controls["userName"]' [label]='"User name"'></app-text-input>
                <label for="bill-type">Email</label>
                <app-text-input [formControl]='editUserForm.controls["email"]' [label]='"Email"'></app-text-input>
                <hr>
                <label for="">Change password (optional)</label>
                <app-password-input [formControl]='editUserForm.controls["password"]' [label]='"New password"'></app-password-input>
                <app-password-input [formControl]='editUserForm.controls["confirmPassword"]' [label]='"Confirm new password"'></app-password-input>
            </div>
        
            <div class="row justify-content-center" style="text-align: center;">
                <div class="form-group">
                    <button class="btn btn-primary mr-2" type="submit" [disabled]="!editUserForm.valid">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <p>Form value: {{editUserForm.value | json}}</p>
<p>Form status: {{editUserForm.valid | json}}</p> -->