<form [formGroup]='newUserForm' (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up!</h2>
    <hr>
    <div class="form-group">
        <!-- <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username"> -->
        <app-text-input [formControl]='newUserForm.controls["username"]' [label]='"User name"'></app-text-input>
        <!-- <input type="password" class="form-control mt-2" name="password" [(ngModel)]="model.password" placeholder="Password"> -->
        <app-password-input [formControl]='newUserForm.controls["password"]' [label]='"Password"'></app-password-input>
    </div>

    <div class="row justify-content-center" style="text-align: center;">
        <div class="form-group">
            <button class="btn btn-primary mr-2" type="submit" [disabled]="!newUserForm.valid">Register</button>
            <button class="btn btn-secondary mr-2" type="button" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>

<!-- <p>Form value: {{newUserForm.value | json}}</p> -->
<!-- <p>Form status: {{newUserForm.password | json}}</p> -->