<div class="container shadow p-3">

  <div class="d-flex ml-2 mr-2 mb-4">
    <div class="d-flex justify-content-start">
      <span class="input-group-text">Month</span>
      <select id="month" class="form-control mr-2 rounded" style="width: 100px;" [(ngModel)]="selectedMonth"
        (change)="onFilterMonth()">
        <option value="" [disabled]="true">--- Select month ---</option>
        <option  *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
      </select>

      <span class="input-group-text">Year</span>
      <input type="text" name="year" id="year" class="form-control rounded" style="width: 60px;" [(ngModel)]="selectedYear"
        (keyup)="onFilterYear()">

    </div>
    <div class="d-flex flex-fill justify-content-end">
      <button type="button" class="btn btn-copy btn-primary" (click)="copyBills()" [openDelay]="500"
        ngbTooltip="Copy all to next month">
        <fa-icon [icon]="faCopy"></fa-icon>
      </button>

    </div>


  </div>

  <div class="row mt-1 ml-2 mr-2">

    <table class="table table-hover mb-2 rounded ">
      <caption style="text-align: right;">Total: {{total | currency:"R$ "}}</caption>
      <thead class="thead-dark">
        <tr style="text-align: center;">
          <th scope="col" [width]=350>Description</th>
          <th scope="col" [width]=150>Value</th>
          <th scope="col" ></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let bill of bills" [ngClass]="{'table-success': bill.value > 0}"> -->
          <tr *ngFor="let bill of bills"> 
          <td style="text-align: center;"><a style="color: blue; cursor: pointer;"
              (click)="openModalForEdit(billEdit, bill)">{{bill.billType.description}}</a></td>
          <td style="text-align: center;">{{bill.value | currency:"R$ "}}</td>
          <td>
            <!-- <button class="btn btn-grid btn-primary mr-2 " (click)="openModalForEdit(billEdit, bill)">Edit</button> -->
            <button class="btn btn-grid btn-danger" (click)="delete(bill)">
              <fa-icon [icon]="faDelete"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="loading" class="spinner-border text-primary ml-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight">
      <button type="button" class="btn btn-add btn-success" (click)="openModal(billAdd)" [openDelay]="500"
        ngbTooltip="Add new bill">
        <fa-icon [icon]="faAdd"></fa-icon>
      </button>
    </div>
    <div class="me-auto p-3">
      
    </div>
    <div class="p-3 bd-highlight">
      <label for="items-per-page"></label> Items per page:
    </div>
    <div class="p-2 bd-highlight">
      <select id="items-per-page" [(ngModel)]="pageSize" (ngModelChange)="loadUser()" class="form-select rounded"
        aria-label="Select items per page">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-2" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
      nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>

<ng-template #billAdd>
  <app-bill-register (saveBillEvent)="closeModal($event)"></app-bill-register>
</ng-template>

<ng-template #billEdit>
  <app-bill-edit [bill]="selectedBill" (saveBillEvent)="closeModal($event)"></app-bill-edit>
</ng-template>