<div class="container shadow p-3">

  <div class="d-flex ml-lg-2 mr-lg-2 mb-4">
    <div class="d-flex justify-content-center">
      <span class="input-group-text">Month</span>
      <select id="month" class="form-control mr-2 rounded" style="width: 100px;" [(ngModel)]="selectedMonth"
        (change)="onFilterMonth()">
        <option value="" [disabled]="true">--- Select month ---</option>
        <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
      </select>

      <span class="input-group-text">Year</span>
      <input type="text" name="year" id="year" class="form-control rounded" style="width: 60px;"
        [(ngModel)]="selectedYear" (keyup)="onFilterYear()">

    </div>
    <div class="d-flex flex-fill justify-content-end">
      <button type="button" class="btn btn-copy btn-primary" (click)="copyBills()" [openDelay]="500"
        ngbTooltip="Copy all to next month">
        <fa-icon [icon]="faCopy"></fa-icon>
      </button>
    </div>

  </div>

  <div class="row mt-1 ml-lg-2 mr-lg-2 smaller-font">

    <table class="table table-hover mb-2 rounded">
      <caption style="text-align: center;">Total: {{total | currency:"R$ "}} - Selected: {{selectedTotal | currency: "R$ "}}</caption>
      
      <thead class="thead-dark">
        <tr style="text-align: center;">
          <th scope="col" [width]="5">

            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-dark" style="min-width: 5px;">
                <input type="checkbox" id="checkAll" [(ngModel)]="checkAllState"
                  (click)="toggleSelect()">
              </button>
              <button id="button-split" type="button" dropdownToggle
                class="btn btn-dark dropdown-toggle dropdown-toggle-split" 
                aria-controls="dropdown-split" 
                style="min-width: 0px; padding-top: 0px;">
                <span class="caret"></span>
                <span class="sr-only visually-hidden">Split button!</span>
              </button>
              <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-split">
                <li role="menuitem"><a class="dropdown-item" (click)="selectAllOpen()">Only open</a></li>                                
                <li role="menuitem"><a class="dropdown-item" (click)="selectAllPaid()">Only paid</a></li>
              </ul>
            </div>

          </th>
          <th scope="col" [width]=300 style="vertical-align: middle;"><p class="smaller-font">Description</p></th>
          <th scope="col" [width]=150 style="vertical-align: middle;"><p class="smaller-font">Value</p></th>
          <th scope="col" [width]=250 style="vertical-align: middle;"><p class="smaller-font">Due date</p></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of bills" style="text-align: center;"
          [ngClass]="{'table-success': bill.paid, 'table-danger': !bill.paid}">

          <td>
            <input style="height: 15px; width: 15px; padding-right: 0px;" type="checkbox" name="select" 
              [(ngModel)]="bill.selected" (change)="this.updateSelectedTotal()">
          </td>

          <td><a style="color: blue; cursor: pointer;"
              (click)="openModalForEdit(billEdit, bill)">{{bill.billType.description}}</a></td>
          <td>{{bill.value | currency:"R$ "}}</td>
          <td>{{bill.dueDate | date:'dd/MM/YYYY'}}</td>
          <td style="text-align: start">
            <button class="btn btn-grid btn-danger" (click)="delete(bill)">
              <fa-icon [icon]="faDelete"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="loading" class="spinner-border text-primary ml-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="d-flex bd-highlight mb-3">

    <div class="bd-highlight">
      <button type="button" class="btn btn-add btn-success" (click)="openModal(billAdd)" [openDelay]="500"
        ngbTooltip="Add new bill">
        <fa-icon [icon]="faAdd"></fa-icon>
      </button>
    </div>

    <div class="ms-auto bd-highlight mr-1">
      <button type="button" class="btn btn-success" (click)="payBills()">Pay</button>
    </div>
    <div class="bd-highlight">
      <button type="button" class="btn btn-danger" (click)="reopenBills()">Reopen</button>
    </div>

  </div>

  <div class="d-flex bd-highlight mb-3">
    <div class="ms-auto p-3 bd-highlight">
      <label for="items-per-page"></label> Items per page:
    </div>

    <div class="p-2 bd-highlight">
      <select id="items-per-page" [(ngModel)]="pageSize" (ngModelChange)="loadUser()" class="form-select rounded"
        aria-label="Select items per page">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-2" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
      nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>
<!-- <pre>
  {{bills | json}}
</pre> -->

<ng-template #billAdd>
  <app-bill-register (saveBillEvent)="closeModal($event)"></app-bill-register>
</ng-template>

<ng-template #billEdit>
  <app-bill-edit [bill]="selectedBill" (saveBillEvent)="closeModal($event)"></app-bill-edit>
</ng-template>