td, th {
    /* border: 2px solid #dddddd; */
    /* text-align: left; */
    vertical-align: middle;     
    padding: 3px;
  }

.btn-add, .btn-copy {
  min-width: 50px;
}

@media (max-width: 576px) {
  .smaller-font {
    font-size: 14px; /* Adjust the font size as per your requirement */
  }

}

.bills-receivings {
  display: grid;
  grid-template-columns: auto auto;
}

.balance-parent {
  width: 150%;
  position: relative;
}

.balance {
  position: absolute;
  bottom: 0;
  
}