<div class="modal-header">
  <h4 class="modal-title pull-left text-primary">New</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]='newReceivingForm' (ngSubmit)="add()" autocomplete="off">

    <label for="select-type">Type</label>
    <div class="form-group">
      <select id="select-type" [class.is-invalid]='newReceivingForm.get("typeId")?.errors && newReceivingForm.get("typeId")?.touched'
        class="form-control rounded" formControlName="typeId">
        <option value="" disabled>--- Select type ---</option>
        <option *ngFor="let receivingType of receivingTypes" [value]="receivingType.id">{{receivingType.description}}</option>
      </select>
      <div class="invalid-feedback">Please select a type</div>
    </div>

    <label for="value" class="mt-2">Amount</label>
    <input type="number" step="0.01" placeholder="0.00" class="form-control rounded me-auto w-25" name="value" id="value"
      required [formControl]='newReceivingForm.controls["value"]'>

    <div style="padding-top: 15px;">
      <label for="">Due date (optional)</label>
      <input class="form-control w-25" bsDatepicker [formControl]='newReceivingForm.controls["dueDate"]'
        (bsValueChange)="onValueChange($event)"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }">
    </div>

    <div class="form-group" style="padding-top: 15px;">
      <label>Register date</label>
      <div class="input-group">
        <select 
          [class.is-invalid]='newReceivingForm.get("month")?.errors && newReceivingForm.get("month")?.touched'
          class="form-control rounded me-2" 
          formControlName="month">
          <option value="" disabled>--- Select month ---</option>
          <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
        </select>
        <app-text-input 
          [formControl]='newReceivingForm.controls["year"]'
          additionalClasses="w-50" 
          [label]='"Year"'>
        </app-text-input>
        <div *ngIf="newReceivingForm.get('month')?.hasError('required') && newReceivingForm.get('month')?.touched"
          class="invalid-feedback">Please enter the month</div>
      </div>
    </div>
    <button class="btn btn-success mr-1 mt-3 me-1" type="submit" [disabled]="!newReceivingForm.valid">Add</button>
    <button type="button" class="btn btn-secondary mt-3" (click)="close()">Cancel</button>

  </form>
  <!-- <p>Form value: {{newReceivingForm.value | json}}</p>
    <p>Form status: {{newReceivingForm.status | json}}</p> -->
</div>